include ../includes/gemeente.pug
    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | Taken
                .pull-right
                    button.btn.btn-default(onclick='goBack()') Terug
        .row
            .col-md-7
                ul.list-group
                each val in nameList
                    li.list-group-item
                        if val.subscribed
                            a(href='/gemeente/taken/details?name='+ val.name) #{val.name}
                        if val.subscribed == false
                            | #{val.name}
                            .pull-right
                              form(action='/gemeente/taken', method='POST')
                                input(type='hidden', value=val.name, name='name')
                                button.btn.btn-xs(type='submit') Aanmelden
                else
                    li.list-group-item Er zijn momenteel geen taken beschikbaar!
include ../includes/footer.pug
