footer.stickyfooter
    .container
        .row.footertekst
            .col-md-4
                p © SocialCoin / ISE-Projectgroep9
            .col-md-4
                ul.footeropsomming
                    li
                        strong Over SocialCoin
                    li
                        a(href='http://socialcoin.nl', target='_blank') SocialCoin
            .col-md-4
                ul.footeropsomming
                    li
                        strong BlockChain
                    li
                        a(href='/about', target='_blank') Informatie