h3
    | Nieuws
.media
    .media-left
        span.glyphicon.glyphicon-th-large
    .media-body
        h4.media-heading
            strong SocialCoin
            |  is actief!
        p
            span.glyphicon.glyphicon-time
            |  1-juli-2017
            br
            span
                i Sinds vandaag, 1 juli, is SocialCoin definitief in gebruik genomen.
    br
    .media-left
        span.glyphicon.glyphicon-th-large
    .media-body
        h4.media-heading
            strong Nieuwe taak:
            |  Buurtfeest Arnhem
        p
            span.glyphicon.glyphicon-time
            |  5-augustus-2017
            br
            span
                i Op zondag 5 augustus zal het jaarlijkse buurfeest plaatsvinden in Presikhaaf. Geïnteresseerd in deze taak? Neem contact op met je schuldhulpverlener.