include includes/gemeente.pug

    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | #{chainname}
        .row
            .col-md-7
                h3
                    | Versie #{version}

include includes/footer.pug