extends layout

block content
  h1= title
  p
  form(method='POST' action='/createStream')
    
      label(for='name') Naam:
      br
      input(type='text', placeholder='stream' name='name')
      button(type='submit') Submit