include includes/gemeente.pug
    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | SocialCoin | Gemeente
        .row
            .col-md-7
                h3
                    | Wallet
                .col-md-3
                    a.btn.btn-lg.btn-primary.maakuwkeuze(href='/gemeente/wallets') Wallets bekijken
                .col-md-3
                a.btn.btn-lg.btn-primary.maakuwkeuze(href='/gemeente/createWallet') Wallet aanmaken
                h3
                    | Taken
                .col-md-3
                    a.btn.btn-lg.btn-primary.maakuwkeuze(href='/gemeente/taakAanmaken') Taak aanmaken
                .col-md-3
                a.btn.btn-lg.btn-primary.maakuwkeuze(href='/gemeente/taken') Taken bekijken
            .col-md-5
                include includes/news.pug
include includes/footer.pug