include includes/home.pug
    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | SocialCoin | Home
        .row
            .col-md-7
                h3
                    | Maak uw keuze
                .col-md-6
                    if walletadres != null && ingelogd == 'gemeente'
                        a.btn.btn-lg.btn-primary.maakuwkeuze(href='/gemeente') gemeente
                    else
                        button.btn.btn-primary.btn-lg.maakuwkeuze(type='button', data-toggle='modal', data-target='#gemeente') Gemeente
                .col-md-6
                    if walletadres != null && ingelogd == 'schuldhebbende'
                        a.btn.btn-lg.btn-primary.maakuwkeuze(href='/schuldhebbende') Schuldhebbende
                    else
                        button.btn.btn-primary.btn-lg.maakuwkeuze(type='button', data-toggle='modal', data-target='#schuldhebbende') Schuldhebbende

                // Modal
                #schuldhebbende.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Schuldhebbende
                            .modal-body
                                form(method='POST' action='/schuldhebbende')
                                    div.form-group
                                        label(for='address') Wallet:
                                        input#address.form-control(type='text', placeholder='Adres' name='walletaddress')
                                    div.modal-footer
                                        button.btn.btn-primary(type='button', data-dismiss='modal') Annuleren
                                        button.btn.btn-primary(type='submit') Opslaan
                #gemeente.modal.fade(role='dialog')
                    .modal-dialog
                        // Modal content
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal') ×
                                h4.modal-title Gemeente
                            .modal-body
                                form(method='POST' action='/gemeente')
                                    div.form-group
                                        label(for='address') Wallet:
                                        input#address.form-control(type='text', placeholder='Adres' name='walletaddressgemeente')
                                    div.modal-footer
                                        button.btn.btn-primary(type='button', data-dismiss='modal') Annuleren
                                        button.btn.btn-primary(type='submit') Opslaan

            .col-md-5
                include includes/news.pug
include includes/footer.pug