include includes/schuldhebbende.pug
.container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | SocialCoin | Home
        .row
            .col-md-7
                h3
                    | Maak uw keuze
                .col-md-3
                    a.btn.btn-lg.btn-primary.maakuwkeuze(href='/schuldhebbende/saldo') Saldo
                .col-md-3
                a.btn.btn-lg.btn-primary.maakuwkeuze(href='/schuldhebbende/taken') Taken
            .col-md-5
                include includes/news.pug
include includes/footer.pug
