extends ../node_modules/pug-bootstrap/_bootstrap.pug

block body
    #wrap
        nav.navbar.navbar-default
            .container-fluid
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#')
                        img.navar-brand-logo(alt='Brand', src='http://maba-online.nl/socialcoin/logosocialcoin.png')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/saldoOpvragen') Saldo
                        li
                            a(href='#') Taken
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='/gemeente') Gemeente
                        li.active
                            a(href='/schuldhebbende') Schuldhebbende
                        span.sr-only (current)

                // /.navbar-collapse
            // /.container-fluid



    .container.theme-showcase(role='main')
        // Main jumbotron for a primary marketing message or call to action
        .page-header
            h1
                | SocialCoin | Home
        .row
            .col-md-7
                h3
                    | Maak uw keuze
                .col-md-3
                    a.btn.btn-lg.btn-primary.maakuwkeuze(href='/saldoOpvragen') Saldo
                .col-md-3
                a.btn.btn-lg.btn-primary.maakuwkeuze(href='#') Taken


            .col-md-5
                h3
                    | Nieuws
                script(type='text/javascript', src='https://feed.mikle.com/js/fw-loader.js', data-fw-param='31938/')
                // end feedwind code

    footer.stickyfooter
        .container
            .row.footertekst
                .col-md-4
                    p © SocialCoin / ISE-Projectgroep9
                .col-md-4
                    ul.footeropsomming
                        li
                            strong Over SocialCoin
                        li
                            a(href='http://socialcoin.nl', target='_blank') SocialCoin
                        li
                            a(href='http://socialcoin.nl', target='_blank') Doel
                .col-md-4
                    ul.footeropsomming
                        li
                            strong Over ISE-Projectgroep 9
                        li
                            a(href='http://socialcoin.nl', target='_blank') De Projectgroep
                        li
                            a(href='http://socialcoin.nl', target='_blank') De Projectgroep