extends layout

block content
  h1= title
  p Kies wat u wilt doen:
  a(class='button' href='stream') Streams bekijken
  br
  a(class='button' href='createStream') Een nieuwe stream aanmaken
  br
  a(class='button' href='stream') Een bestaande stream wijzigen
  br
  a(class='button' href='stream') Een stream verwijderen
  br