extends layout

block content
	form(method='POST' action='/gemeente/taakAanmaken')
		div.form-group
			label(for='naam') Naam:
			input#naam.form-control(type='text', placeholder='naam' name='naam')
		div.form-group
			label(for='beschrijving') Beschrijving:
			textarea#beschrijving.form-control(placeholder='Typ hier een korte beschrijving' name='beschrijving')
		div.form-group
			label(for='beloning') Beloning:
			input#beloning.form-control(type='text', placeholder='100' name='beloning')
		div.form-group
			label(for='looptijd') Looptijd:
			input#looptijd.form-control(type='text', placeholder='Tijd in dagen' name='looptijd')
		div.form-group
			label(for='schuldhebbende') Schuldhebbende:
			input#schuldhebbende.form-control(type='text', placeholder='Schuldhebbende, mag leeg' name='schuldhebbende')
		button.btn.btn-primary(type='submit') Create
